<!-- <app-carousel-sm [title]="title" [description]="description"></app-carousel-sm> -->
<div class="news-area p-t-100 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-9">
        <div class="sports-news mb60">
          <div class="row">
            <div class="col-md-8">
              <h4 class="mb-3 black">Club info</h4>
              <form class="needs-validation" [formGroup]="editClubForm" (ngSubmit)="saveChangesClub(club._id)">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label class="black">Code (*)</label>
                    <input type="text" class="form-control" formControlName="code"
                      [ngClass]="{'is-invalid': editClubForm.get('code').errors && editClubForm.get('code').touched}" />
                    <small class="text-muted">Club's url:
                      https://www.vChampions.com/club/{{editClubForm.value.code}}</small>
                    <div class="invalid-feedback"
                      *ngIf="editClubForm.get('code').hasError('required') && editClubForm.get('code').touched">
                      Please choose a Code
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="editClubForm.get('code').hasError('minlength') && editClubForm.get('code').touched">
                      Code must be at least 3 characters
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="editClubForm.get('code').hasError('maxlength') && editClubForm.get('code').touched">
                      Code cannot exceed 50 characters
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="editClubForm.get('code').hasError('pattern') && editClubForm.get('code').touched">
                      Please enter no space
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="black">Name (*)</label>
                    <input type="text" class="form-control" formControlName="name"
                      [ngClass]="{'is-invalid': editClubForm.get('name').errors && editClubForm.get('name').touched}">
                    <small class="text-muted">Use to display everywhere</small>
                    <div class="invalid-feedback"
                      *ngIf="editClubForm.get('name').hasError('required') && editClubForm.get('name').touched">
                      Please choose a Name
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="editClubForm.get('name').hasError('minlength') && editClubForm.get('name').touched">
                      Name must be at least 3 characters
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="editClubForm.get('name').hasError('maxlength') && editClubForm.get('name').touched">
                      Name cannot exceed 50 characters
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label class="black">City (*)</label>
                    <select class="form-control p-t-8 p-b-8" formControlName="city"
                      [ngClass]="{'is-invalid': editClubForm.get('city').errors && editClubForm.get('city').touched}">
                      <option value="Hà Nội">Hà Nội</option>
                      <option value="TP Hồ Chí Minh">TP Hồ Chí Minh</option>
                    </select>
                    <div class="invalid-feedback"
                      *ngIf="editClubForm.get('city').hasError('required') && editClubForm.get('city').touched">
                      Please choose a City
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="black">District (*)</label>
                    <select class="form-control p-t-8 p-b-8" formControlName="district"
                      [ngClass]="{'is-invalid': editClubForm.get('district').errors && editClubForm.get('district').touched}">
                      <option value="Cầu Giấy">Cầu Giấy</option>
                      <option value="Thanh Xuân">Thanh Xuân</option>
                    </select>
                    <div class="invalid-feedback"
                      *ngIf="editClubForm.get('district').hasError('required') && editClubForm.get('district').touched">
                      Please choose a District
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="black">Description (*)</label>
                  <textarea rows="2" cols="50" class="form-control" placeholder="Write something about your Club"
                    formControlName="description"
                    [ngClass]="{'is-invalid': editClubForm.get('description').errors && editClubForm.get('description').touched}"></textarea>
                  <div class="invalid-feedback"
                    *ngIf="editClubForm.get('description').hasError('required') && editClubForm.get('description').touched">
                    Please choose a Description
                  </div>
                  <div class="invalid-feedback"
                    *ngIf="editClubForm.get('description').hasError('minlength') && editClubForm.get('description').touched">
                    Description must be at least 5 characters
                  </div>
                  <div class="invalid-feedback"
                    *ngIf="editClubForm.get('description').hasError('maxlength') && editClubForm.get('description').touched">
                    Description cannot exceed 200 characters
                  </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit"
                  [disabled]="!editClubForm.valid">Submit</button>
              </form>
            </div>
            <div class="col-md-4">
              <div class="club-authority">
                <img *ngIf="logo.publicId == ''" class="w-100 maxw-300"
                  src="https://res.cloudinary.com/drssrezsl/image/upload/w_300,h_300,c_fill/v{{defaultAvatar.version}}/{{defaultAvatar.publicId}}"
                  alt="club.name">
                <img *ngIf="logo.publicId != ''" class="w-100 maxw-300"
                  src="https://res.cloudinary.com/drssrezsl/image/upload/w_300,h_300,c_fill/v{{logo.version}}/{{logo.publicId}}"
                  alt="club.name">
                <div class="input-group m-t-10">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" ng2FileSelect [uploader]="uploader"
                      (onFileSelected)="imageSelected($event)">
                    <label class="custom-file-label">Choose file</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-3">
        <app-rank-sm></app-rank-sm>
      </div>
    </div>
  </div>
</div>