<!-- Search and popup modal button -->
<form class="card p-2">
  <div class="input-group">
    <div class="btn-group w-100" role="group">
      <button type="button" class="btn btn-success" (click)="lgModal.show()" data-toggle="tooltip" title="Find Players already registered on vChampions">Search</button>
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="Send your friends an email to invite them to join your Club">Invite by Email</button>
    </div>
  </div>
</form>

<!-- Modal -->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left black">Players found</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="criteria.phone" />
          </div>
          <div class="col-3">
            <input type="text" class="form-control" placeholder="Email" [(ngModel)]="criteria.email" />
          </div>
          <div class="col-4">
            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="criteria.name" />
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-sm btn-success" (click)="findPlayers()">
              <i class="fa fa-search"></i> Search
            </button>
          </div>
        </div>
        <br />
        <div *ngIf="foundPlayers.length > 0" class="row">
          <div class="col-md-4 p-b-15" *ngFor="let player of foundPlayers">
            <div class="card">
              <img src="../../../assets/images/blog/2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="m-b-3"><strong>Name: </strong>{{player.name}}</p>
                <p class="m-b-3"><strong>Phone: </strong>{{player.phone}}</p>
                <p class="m-b-3"><strong>Email: </strong>{{player.email}}</p>
                <a class="btn btn-sm btn-info pointer m-r-3" data-toggle="tooltip" title="View Player">
                  <i class="fa fa-eye"></i>
                </a>
                <div class="btn-group btn-group-sm">
                  <a class="btn btn-sm btn-warning pointer" data-toggle="tooltip" title="Invite as a Goalkeeper"
                    (click)="invitePlayer(player, 'GK')" [ngClass]="{disabled: checkAlreadyInvited(player)}">
                    GK
                  </a>
                  <a class="btn btn-sm btn-primary pointer" data-toggle="tooltip" title="Invite as a Defender"
                    (click)="invitePlayer(player, 'DF')" [ngClass]="{disabled: checkAlreadyInvited(player)}">
                    DF
                  </a>
                  <a class="btn btn-sm btn-success pointer" data-toggle="tooltip" title="Invite as a Middlefield"
                    (click)="invitePlayer(player, 'MF')" [ngClass]="{disabled: checkAlreadyInvited(player)}">
                    MF
                  </a>
                  <a class="btn btn-sm btn-danger pointer" data-toggle="tooltip" title="Invite as a Forward"
                    (click)="invitePlayer(player, 'FW')" [ngClass]="{disabled: checkAlreadyInvited(player)}">
                    FW
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="foundPlayers.length <= 0" class="row">
          <div class="col-md-12 text-center">
            <p>No players found</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>