<form class="card p-2">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Email/Name">
    <div class="input-group-append">
      <button type="button" class="btn btn-secondary" (click)="lgModal.show()">Search</button>
    </div>
  </div>
</form>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left black">Players found</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
