<app-carousel-sm [title]="title" [description]="description">
</app-carousel-sm>
<div class="news-area p-t-30 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="row m-b-45">
          <div class="col-12">
            <div class="club-authority">
              <div class="image">
                <img src="http://res.cloudinary.com/drssrezsl/image/upload/v{{player.avatar.imgVersion}}/{{player.avatar.imgId}}" class="img img-responsive h-100" />
              </div>


              <!-- <img class="w-100 h-100"
                src="http://res.cloudinary.com/drssrezsl/image/upload/v{{player.avatar.imgVersion}}/{{player.avatar.imgId}}"
                alt="{{player.name}}"> -->
              <h4 class="m-t-15 black">{{player.name}}</h4>
              <div class="m-t-15">
                <tabset [vertical]="true" type="pills">
                  <tab heading="Clubs" (selectTab)="onSelect($event)"></tab>
                  <tab heading="Matches"></tab>
                  <tab heading="Notifications"></tab>
                  <tab heading="Information" (selectTab)="onSelect($event)"></tab>
                  <tab heading="Gallery"></tab>
                </tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <app-clubs-of-player *ngIf="tab == 'Clubs'" [enabled]="tab == 'Clubs' ? true : false" [clubs]="player.clubs"
          (reload)="reloadPlayer()">
        </app-clubs-of-player>
        <app-information *ngIf="tab == 'Information'" [enabled]="tab == 'Information' ? true : false"></app-information>
      </div>
    </div>
  </div>
</div>
