<app-carousel-sm [title]="'Create your own Club'" [description]="'To have matches, to be on Rank, to be on the Top of the World'"></app-carousel-sm>
<div class="news-area p-t-30 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-9">
        <div class="sports-news mb60">
          <div class="row">
            <div class="col-12">
                <alert *ngIf="invitedPlayers.length == 0" type="info"><strong>Warning!</strong> Please invite at least one Player via Searh or Email.</alert>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted black">Players</span>
                <span class="badge badge-success badge-pill">{{invitedPlayers.length}}</span>
              </h4>
              <ul class="list-group mb-3 ul-scrollable maxh-300">
                <li *ngIf="invitedPlayers.length <= 0"
                  class="list-group-item d-flex justify-content-between lh-condensed">
                  <small class="text-muted">No Players invited yet</small>
                </li>
                <li *ngFor="let player of invitedPlayers"
                  class="list-group-item d-flex justify-content-between bg-light">
                  <div class="text-success">
                    <h6 class="my-0 black m-r-5">{{player.name}} ({{player.positions[0]}})</h6>
                    <small>{{player.email}}</small>
                  </div>
                  <span class="text-muted" tooltip="Remove this Player" placement="bottom">
                    <a class="pointer" (click)="removePlayerFromInvitation(player)">
                      <i class="fa fa-trash black"></i>
                    </a>
                  </span>
                </li>
              </ul>
              <app-find-players (playerToInvite)="showPlayers($event)" [playersOnClub]="invitedPlayers">
              </app-find-players>
            </div>
            <div class="col-md-8 order-md-1">
              <h4 class="mb-3 black">Club info</h4>
              <form class="needs-validation" [formGroup]="createClubForm" (ngSubmit)="createClub()">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label class="black">Code (*)</label>
                    <input type="text" class="form-control" formControlName="code"
                      [ngClass]="{'is-invalid': createClubForm.get('code').errors && createClubForm.get('code').touched}">
                    <small class="text-muted">Club's url:
                      https://www.vChampions.com/club/{{createClubForm.value.code}}</small>
                    <div class="invalid-feedback"
                      *ngIf="createClubForm.get('code').hasError('required') && createClubForm.get('code').touched">
                      Please choose a Code
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="createClubForm.get('code').hasError('minlength') && createClubForm.get('code').touched">
                      Code must be at least 3 characters
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="createClubForm.get('code').hasError('maxlength') && createClubForm.get('code').touched">
                      Code cannot exceed 50 characters
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="createClubForm.get('code').hasError('pattern') && createClubForm.get('code').touched">
                      Please enter no space
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="black">Name (*)</label>
                    <input type="text" class="form-control" formControlName="name"
                      [ngClass]="{'is-invalid': createClubForm.get('name').errors && createClubForm.get('name').touched}">
                    <small class="text-muted">Use to display everywhere</small>
                    <div class="invalid-feedback"
                      *ngIf="createClubForm.get('name').hasError('required') && createClubForm.get('name').touched">
                      Please choose a Name
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="createClubForm.get('name').hasError('minlength') && createClubForm.get('name').touched">
                      Name must be at least 3 characters
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="createClubForm.get('name').hasError('maxlength') && createClubForm.get('name').touched">
                      Name cannot exceed 50 characters
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label class="black">City (*)</label>
                    <select class="form-control p-t-8 p-b-8" formControlName="city"
                      [ngClass]="{'is-invalid': createClubForm.get('city').errors && createClubForm.get('city').touched}">
                      <option value="Hà Nội">Hà Nội</option>
                      <option value="TP Hồ Chí Minh">TP Hồ Chí Minh</option>
                    </select>
                    <div class="invalid-feedback"
                      *ngIf="createClubForm.get('city').hasError('required') && createClubForm.get('city').touched">
                      Please choose a City
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="black">District (*)</label>
                    <select class="form-control p-t-8 p-b-8" formControlName="district"
                      [ngClass]="{'is-invalid': createClubForm.get('district').errors && createClubForm.get('district').touched}">
                      <option value="Cầu Giấy">Cầu Giấy</option>
                      <option value="Thanh Xuân">Thanh Xuân</option>
                    </select>
                    <div class="invalid-feedback"
                      *ngIf="createClubForm.get('district').hasError('required') && createClubForm.get('district').touched">
                      Please choose a District
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="black">Description (*)</label>
                  <textarea rows="2" cols="50" class="form-control" placeholder="Write something about your Club"
                    formControlName="description"
                    [ngClass]="{'is-invalid': createClubForm.get('description').errors && createClubForm.get('description').touched}"></textarea>
                  <div class="invalid-feedback"
                    *ngIf="createClubForm.get('description').hasError('required') && createClubForm.get('description').touched">
                    Please choose a Description
                  </div>
                  <div class="invalid-feedback"
                    *ngIf="createClubForm.get('description').hasError('minlength') && createClubForm.get('description').touched">
                    Description must be at least 5 characters
                  </div>
                  <div class="invalid-feedback"
                    *ngIf="createClubForm.get('description').hasError('maxlength') && createClubForm.get('description').touched">
                    Description cannot exceed 200 characters
                  </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!createClubForm.valid || invitedPlayers.length == 0">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-3">
        <app-rank-sm></app-rank-sm>
      </div>
    </div>
  </div>
</div>
