<app-carousel-sm [title]="title" [description]="description"></app-carousel-sm>
<div class="news-area p-t-30 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-9">
        <div class="sports-news mb60">
          <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted black">Players</span>
                <span class="badge badge-secondary badge-pill">{{invitedPlayers.length}}</span>
              </h4>
              <ul class="list-group mb-3 ul-scrollable maxh-300">
                <li *ngIf="invitedPlayers.length <= 0"
                  class="list-group-item d-flex justify-content-between lh-condensed">
                  <small class="text-muted">No Players invited yet</small>
                </li>
                <li *ngFor="let player of invitedPlayers"
                  class="list-group-item d-flex justify-content-between bg-light">
                  <div class="text-success">
                    <h6 class="my-0 black m-r-5">{{player.name}} (MF)</h6>
                    <small>{{player.email}}</small>
                  </div>
                  <span class="text-muted" data-toggle="tooltip" title="Remove this Player">
                    <a class="pointer" (click)="sendPlayerToRemove(player)">
                      <i class="fa fa-trash black"></i>
                    </a>
                  </span>
                </li>
              </ul>
              <app-find-players (invitation)="showInvitation($event)"
              [playerToRemove]="playerSentToChild"></app-find-players>
            </div>
            <div class="col-md-8 order-md-1">
              <h4 class="mb-3 black">Club info</h4>
              <form class="needs-validation">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label class="black">Code</label>
                    <input type="text" class="form-control">
                    <small class="text-muted">Club's url: https://www.vChampions.com/club/your-code</small>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="black">Name</label>
                    <input type="text" class="form-control">
                    <small class="text-muted">Use to display everywhere</small>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label class="black">City</label>
                    <select class="form-control p-t-8 p-b-8">
                      <option>Choose...</option>
                      <option value="HN">Hà Nội</option>
                      <option value="HCM">TP Hồ Chí Minh</option>
                    </select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="black">District</label>
                    <select class="form-control p-t-8 p-b-8">
                      <option>Choose...</option>
                      <option value="CG">Cầu Giấy</option>
                      <option value="TX">Thanh Xuân</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="black">Description</label>
                  <textarea rows="2" cols="50" class="form-control"
                    placeholder="Write something about your Club"></textarea>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-3">
        <app-rank-sm></app-rank-sm>
      </div>
    </div>
  </div>
</div>