<div class="news-area p-t-100 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-3">
        <div class="row m-b-45">
          <div class="col-12">
            <div class="stadium-logo">
              <img *ngIf="stadium.logo.publicId == ''" class="maxw-200"
                src="https://res.cloudinary.com/drssrezsl/image/upload/w_200,h_200,c_fill/v{{defaultStadium.version}}/{{defaultStadium.version}}"
                alt="club.name">
              <img *ngIf="stadium.logo.publicId != ''" class="maxw-300"
                src="https://res.cloudinary.com/drssrezsl/image/upload/w_200,h_200,c_fill/v{{stadium.logo.version}}/{{stadium.logo.publicId}}"
                alt="club.name">
              <h4 class="m-t-20 black">{{stadium.name}}</h4>
              <div class="authority-box m-t-20">
                <p class="m-b-8"><strong>Yards: </strong>{{stadium.yards.length}}</p>
                <p class="m-b-8"><strong>Owner: </strong>{{stadium.owners[0].name}}</p>
                <p class="m-b-8"><strong>Contact: </strong>{{stadium.owners[0].phone}}/{{stadium.owners[0].email}}</p>
                <p class="m-b-8"><strong>Address: </strong>{{stadium.address}}</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <a class="btn btn-success w-50" [routerLink]="['/stadium/edit/', stadium._id]">Edit</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-9">
        <tabset type="pills" [justified]="true">
          <tab>
            <ng-template tabHeading>
              <span class="f-s-20">Prices</span>
            </ng-template>
            <div class="row m-0">
              <div class="col-12 border-bottom">
                <br />
              </div>
            </div>
          </tab>

          <tab>
            <ng-template tabHeading>
              <span class="f-s-20">Finance</span>
            </ng-template>
            <div class="row m-0">
              <div class="col-12 border-bottom">
                <br />
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
