<div class="row">
  <div class="col-12">
    <div *ngIf="stadiums.length > 0" class="point-table">
      <div class="container">
        <div class="row">
          <div class="col-md-12 p-0">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Yards</th>
                  <th colspan="4">Address</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stadium of stadiums; let i = index">
                  <td>{{i + 1}}</td>
                  <td>
                    <a [routerLink]="['/stadium/manage/', stadium._id]" class="default">{{stadium.name}}</a>
                  </td>
                  <td>{{stadium.yards.length}}</td>
                  <td>{{stadium.address}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <alert *ngIf="stadiums.length == 0" type="success">
      <h4 class="alert-heading p-b-8">Oh snap!</h4>
      <p class="m-b-0">You don't manage any Stadiums. To create one, please click <a [routerLink]="['/stadium/create']"
          class="alert-link">Create your own Stadium</a></p>
    </alert>
  </div>
</div>
