.pointer {
    cursor: pointer;
}

.white {
    color: #fff !important;
}

.black {
    color: rgb(33, 37, 41) !important;
}

.ul-scrollable {
  overflow-y: scroll;
}

/* Custom scrollbar */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

/* Change color for link has default class */
a.default {
  text-transform: none !important;
}

a.default:link {
  color: rgb(33, 37, 41);
  background-color: transparent;
}

a.default:visited {
  color: rgb(33, 37, 41);
  background-color: transparent;
}

a.default:hover {
  color: rgb(118, 193, 0);
  background-color: transparent;
}

.main-color {
  color: #76c100 !important;
}

/* Modify point-table class */
.point-table .table.table-bordered thead {
  line-height: 1 !important;
}

.point-table .table.table-bordered tbody th {
  line-height: 40px !important;
}

.point-table .table.table-bordered tbody td {
  line-height: 40px !important;
}




