<app-carousel-sm [title]="'Clubs management'" [description]="'Manage Players, Money... of your Clubs'">
</app-carousel-sm>
<div class="news-area p-t-30 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-9">
        <div *ngIf="clubs.length > 0" class="point-table">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead id="thClubs">
                      <tr>
                        <th>No</th>
                        <th colspan="4">Team</th>
                        <th>Rank</th>
                        <th>Recent</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let club of clubs">
                        <th scope="row">1</th>
                        <td colspan="4" class="team">
                          <div class="team-box">
                            <img class="xs-img" src="assets/images/club-logo/logo/barcelona.png" alt="">
                            <span><a href="/club/manage/{{club.code}}" class="default">{{club.name}}</a></span>
                          </div>
                        </td>
                        <td>5</td>
                        <td>
                          <div class="btn-group btn-group-sm">
                            <a href="#" class="btn btn-sm btn-secondary">D</a>
                            <a href="#" class="btn btn-sm btn-success">W</a>
                            <a href="#" class="btn btn-sm btn-success">W</a>
                            <a href="#" class="btn btn-sm btn-danger">L</a>
                            <a href="#" class="btn btn-sm btn-success">W</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <alert *ngIf="clubs.length == 0" type="success">
          <h4 class="alert-heading">Oh snap!</h4> <br />
          <p>You don't manage any Club. To create one, please click <a [routerLink]="['/club/create']" class="alert-link">Create your own Club</a></p>
        </alert>
      </div>
      <div class="col-md-12 col-lg-3">
        <app-rank-sm></app-rank-sm>
      </div>
    </div>
  </div>
</div>
