<!-- <app-carousel-sm [title]="'Clubs management'" [description]="'Manage Players, Money... of your Clubs'">
</app-carousel-sm> -->
<div class="news-area p-t-100 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-9">
        <div *ngIf="clubs.length > 0" class="point-table">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th colspan="4">Team</th>
                        <th>Rank</th>
                        <th>Recent</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let club of clubs; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td colspan="4" class="team">
                          <div class="team-box">
                            <img *ngIf="club.logo.publicId == ''" class="w-100 maxw-50"
                              src="https://res.cloudinary.com/drssrezsl/image/upload/w_50,h_50,c_fill/v{{defaultAvatar.version}}/{{defaultAvatar.publicId}}"
                              alt="club.name">
                            <img *ngIf="club.logo.publicId != ''" class="w-100 maxw-50"
                              src="https://res.cloudinary.com/drssrezsl/image/upload/w_50,h_50,c_fill/v{{club.logo.version}}/{{club.logo.publicId}}"
                              alt="club.name">
                            <span class="f-s-22"><a [routerLink]="['/club/manage/', club.code]"
                                class="default">{{club.name}}</a></span>
                          </div>
                        </td>
                        <td>5</td>
                        <td>
                          <div class="btn-group btn-group-sm">
                            <a class="btn btn-sm btn-secondary">D</a>
                            <a class="btn btn-sm btn-success">W</a>
                            <a class="btn btn-sm btn-success">W</a>
                            <a class="btn btn-sm btn-danger">L</a>
                            <a class="btn btn-sm btn-success">W</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <alert *ngIf="clubs.length == 0" type="success">
          <h4 class="alert-heading p-b-8">Oh snap!</h4>
          <p class="m-b-0">You don't manage any Club. To create one, please click <a [routerLink]="['/club/create']"
              class="alert-link">Create your own Club</a></p>
        </alert>
      </div>
      <div class="col-md-12 col-lg-3">
        <app-rank-sm></app-rank-sm>
      </div>
    </div>
  </div>
</div>