<div class="footbal-table-area">
  <div class="section-title">
    <h4> <span>Top Clubs</span></h4>
  </div>
  <div class="foot-tbl bnr1 mini-bg mt40">
    <h5>Best Clubs ever</h5>
    <div class="point-table active">
      <div class="team-rank">
        <img class="sml-logo" src="../../../assets/images/club-logo/logo/barcelona.png" alt="club-logo">
        <span>1. barcelona</span>
      </div>
      <span>84</span>
    </div>
    <div class="point-table">
      <div class="team-rank">
        <img class="sml-logo" src="../../../assets/images/club-logo/logo/realbetis.png" alt="club-logo">
        <span>2. realbetis</span>
      </div>
      <span>64</span>
    </div>
    <div class="point-table">
      <div class="team-rank">
        <img class="sml-logo" src="../../../assets/images/club-logo/logo/alves.png" alt="club-logo">
        <span>3. alves</span>
      </div>
      <span>74</span>
    </div>
    <div class="point-table">
      <div class="team-rank">
        <img class="sml-logo" src="../../../assets/images/club-logo/logo/arsenal.png" alt="club-logo">
        <span>4. arsenal</span>
      </div>
      <span>70</span>
    </div>
    <div class="point-table">
      <div class="team-rank">
        <img class="sml-logo" src="../../../assets/images/club-logo/logo/sevilla.png" alt="club-logo">
        <span>5. sevilla</span>
      </div>
      <span>68</span>
    </div>
    <div class="point-table">
      <div class="team-rank">
        <img class="sml-logo" src="../../../assets/images/club-logo/logo/getafe.png" alt="club-logo">
        <span>6. getafe</span>
      </div>
      <span>48</span>
    </div>
    <div class="point-table">
      <div class="team-rank">
        <img class="sml-logo" src="../../../assets/images/club-logo/logo/chelsea.png" alt="club-logo">
        <span>7. chelsea</span>
      </div>
      <span>80</span>
    </div>
  </div>
</div>
