<carousel>
  <slide>
    <img src="../../assets/images/bg/bg1.jpg" alt="first slide" style="display: block; width: 100%;" />
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p class="white">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/bg/bg1.jpg" alt="second slide" style="display: block; width: 100%;" />
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/bg/bg1.jpg" alt="third slide" style="display: block; width: 100%;" />
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p class="white">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
  <slide>
      <img src="../../assets/images/bg/bg1.jpg" alt="third slide" style="display: block; width: 100%;" />
      <div class="carousel-caption d-none d-md-block">
        <h3>Fourth slide label</h3>
        <p class="white">Scelerisque nulla vitae elit libero, a pharetra augue mollis interdum. nisl consectetur.</p>
      </div>
    </slide>
</carousel>
